html, body, div, ul, li {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: url('../img/bg.png');
}

.hidden {
  display: none;
  height: 0px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

#header {
  background: rgba(30, 20, 8, 0.8);
  padding-left: 20px;
  position: relative;
  height: 50px;
}

#message {
  padding: 20px;
  font-size: 15px;
}

#logo {
  width: 76%;
  float: left;
}

#refresh,
#menu {
  width: 12%;
  height: inherit;
  text-decoration: none;
  color: white;
  font-size: 33px;
}

#menu {
  float: right;
}

#menu.selected {
  color: grey;
}

#refresh {
  float: left;
  color: green;
}

.icon-arrows-cw,
.icon-menu {
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

ul {
  list-style-type: none;
}

.item {
  background: #51493D;
  padding: 10px 5px;
  margin: 2px 0;
  height: 36px;
  line-height: 36px;
  overflow-y: hidden;
}

.item.new {
  background: none;
}

.item a {
  width: 90%;
  display: inline-block;
}

.item a,
.item a:visited {
  color: #FFF;
  text-decoration: none;
}

.item.new a {
  color: #51493D;
}

.item .img,
.item .title {
  width: 80%;
  font-size: 18px;
  float: left;
}

.item img {
  width: 100%;
}

.item .progress {
  width: 20%;
  text-align: right;
  float: right;
  text-align: right;
  font-size: 12px;
}

a.show,
a.hide {
  width: 10%;
  float: right;
  text-align: right;
  font-size: 13px;
  color: 'red';
  cursor: 'pointer';
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}
